@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}
html a,
body a {
  color: white;
}
html p,
body p {
  font-size: 1.3rem;
}

nav {
  display: flex;
  height: 90px;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}
nav .navButton {
  transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
nav .navButton .menu {
  background-color: transparent;
  border: 0;
  padding: 0 10px 0 10px;
  transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
nav .navButton .menu :hover {
  cursor: pointer;
}
nav .navButton .menu img {
  width: 50px;
  height: auto;
}
nav .navButton .menuTurned {
  transform: rotate(90deg);
}
nav .sideNav {
  overflow-x: hidden;
  width: 0px;
  display: flex;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.45, 0, 0.55, 1);
}
nav .sideNav .domu {
  background-color: #95C11F;
}
nav .sideNav .kontakty {
  background-color: #F09D2A;
}
nav .sideNav .sluzby {
  background-color: #009FE3;
}
nav .sideNav .fotogalerie {
  background-color: #D100E3;
}
nav .menuOpened {
  width: 704px !important;
  transition: all 0.5s cubic-bezier(0.45, 0, 0.55, 1);
}
nav .menuElement {
  width: 11em;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
nav .menuElement p {
  margin: 0;
}
nav .menuElement img {
  height: 32px;
  width: 32px;
}
nav .navLogo {
  margin-left: auto;
}
nav .navLogo img {
  width: auto;
  height: 56px;
  margin-right: 10px;
}

#map {
  height: 280px;
  width: 400px;
  background-color: gray;
}

header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .heading {
  position: absolute;
  color: white;
  z-index: 3;
  font-size: 3rem;
}
header .solidGray {
  width: 100%;
  height: 300px;
  background-color: black;
  opacity: 70%;
  z-index: 2;
  position: absolute;
}
header .background {
  z-index: 1;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
section p {
  color: black;
}
section .content {
  inline-size: 900px;
  text-align: left;
}
section .contentK {
  inline-size: 532px;
  text-align: left;
}

footer {
  padding-top: 29px;
  height: 100%;
  margin-top: auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}
footer p {
  margin: 0;
}
footer .left {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
footer .left .adresa {
  text-align: left;
}
footer .left .cisla {
  text-align: right;
}
footer .right {
  text-align: left;
  inline-size: 400px;
}

.copyright {
  direction: rtl;
  padding: 5px;
  background-color: #242424;
}